.logo {
    height: 100px;
    width: auto;
    margin-left: 50px;
}
.centraliza {
    text-align: center;
    font-weight: bold;
    padding-bottom: 3rem;
}
#rodape {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    text-align: center;
}
 .camerachris {
    height: 480px;
    width: 400px;
    text-align: center;
    
} 
.inicio {
    background-color: aquamarine;
}
.texto-inicio {
    font-weight: normal;
}
.navbar-nav {
    margin-right: 50px;
}
.text-center {
    font-size: xx-small;
}
.text-break{
    padding-top: 4%;
}
.quemsou{
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}
.tudolado {
    padding-left: 20%;
}
.word-wrap {
    text-align: center;
}
.text-start {
    text-align: center;
}
.outroteste {
    float: left;
    padding-left: 10%;
}
.words {
    float: right;
    padding-right: 30%;
    padding-top: 5%;
}
.sim {
    padding-left: 20%;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.colors {
    background-color: lightpink;
}
.logoooo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 122px;
    height: 122px;
}